/* Fuente general */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    background-color: #1F2937;
    color: white;
    padding: 18px;
    text-align: center;
}

.header-container .menu{
    display: inline-block;
    margin: 0 10px;
}

.main-title-section {
    background-color: #1f2937;
    color: white;
    padding: 50px;
    text-align: left;
}

.main-title-section h1 {
    font-size: 48px;
    margin: 0;
}

#sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.containers {
    width: 200px;
    text-align: center;
    border: 1px solid #071f8c;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
}

.testimonials {
    background-color: #f0f0f0af;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    padding: 36px;
    text-align: center;
}

.call-to-action {
    background-color: #3882f6;
    color: white;
    padding: 50px;
    margin: 50px;
    text-align: center;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

#footer-sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
